/**********************
    REGOLE GENERALI
***********************/
body {
    background-color: #0e152b;
    color: #ffffff;
}

/* Header - Movies */
.header-page {
    background: linear-gradient(135deg, #1f1f1f, #3a4d8f, #7aa5ff);
    vertical-align: middle;
}

.movie-card {
    background-color: #1a2340;
    color: #dfe3f0;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.stars {
    color: gold;
    font-size: 1rem;
    padding-left: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
        width: 200px;
        height: 200px;
        font-size: 2rem;
    }
}
