/**********************
    REGOLE GENERALI
***********************/
body {
    background-color: #0e152b;
    color: #ffffff;
}

/* Header - Movies */
.header-page {
    background: linear-gradient(135deg, #1f1f1f, #3a4d8f, #7aa5ff);
    vertical-align: middle;
}

.movie-card {
    background-color: #1a2340;
    color: #dfe3f0;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
