/**********************
    REGOLE GENERALI
***********************/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stile testo generale */
:root {
  font-size: 13px;
  line-height: 1.5;
}

body {
  margin: 0;
  height: 100vh;
}

ul {
  list-style-type: none;
}


/*************************** 
    CLASSI RIUTILIZZABILI
****************************/

/** Contenitori */

/* Contenitore pagina */
.container-page {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}